<!-- Navigation -->
<app-navbar></app-navbar>

<div class="area">
  <ul class="circles">
    <li>
      <span class="floating circle"></span>
    </li>
    <li><span class="floating square"></span></li>
    <li><span class="floating triangle"></span></li>
    <li><span class="floating cross"></span></li>
    <li><span class="floating circle"></span></li>
    <li><span class="floating square"></span></li>
    <li><span class="floating cross"></span></li>
    <li><span class="floating triangle"></span></li>
    <li><span class="floating circle"></span></li>
    <li><span class="floating cross"></span></li>

    <li><span class="floating cross"></span></li>
    <li><span class="floating triangle"></span></li>
    <li><span class="floating circle"></span></li>
    <li><span class="floating cross"></span></li>
  </ul>
</div>
<div class="maincontent">
  <!-- Introduction -->
  <div class="intro section introSec" id="about">
    <div class="container">
      <!-- <p>Hello, I’m Usama Javaid</p> -->
      <div class="units-row units-split wrap">
        <div class="unit-20">
          <img src="assets/img/new.jpg" alt="Avatar" />
        </div>
        <div class="unit-80">
          <h1>
            Hello, <br />
            <ngx-typed-js [typeSpeed]="30" [strings]="[
              'My name is Usama Javaid.',

            ]" [backDelay]="1000" [loop]="false">
              <div class="ngx-typed">
                <p class="typing"></p>
              </div>
            </ngx-typed-js>
          </h1>
          <div class="hero-container" data-aos="fade-in"></div>
        </div>

        <div>
          <p>
            I am a full-stack software engineer with a strong interest in projects
            that require both conceptual and analytical thinking. Fully-committed
            to designing and developing innovative web based apps. Always eager to
            learn about the latest technologies.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Work Experience -->
  <div class="work section second" id="experiences">
    <div class="container">
      <h1>Work Experiences</h1>

      <!-- Iotascale Section (June 2022 - Present) -->
      <ul class="work-list">
        <li>
          <div class="hr-divider">
            <hr />
            <strong>June 2022 - Present</strong>
            <hr />
          </div>
        </li>
        <li>
          <a href="https://snskies.com/" target="_blank" rel="noopener noreferrer">SNSKIES</a>
        </li>
        <li><strong>Position: Full-Stack Engineer</strong></li>
        <li>
          <p style="margin: 0">
            As a Full-Stack Engineer at SNSKIES, I am responsible for:
          </p>
          <ul>
            <li>Development using Angular2+ and Vue.js</li>
            <li>Building and maintaining APIs with Express.js and Node.js</li>
            <li>Working with MongoDB for database management</li>
            <li>Configuring and managing Nginx, Jenkins for deployment</li>
            <li>Implementing Continuous Integration/Continuous Deployment (CI/CD) pipelines using Jenkins and Ansible
            </li>
            <li>Frappe ERPnext customization for HR and Payroll management</li>
            <li>Experience with ClickHouse, including table creation, data loading, and backup/restore procedures.</li>
            <li>Experience with Network Monitoring Systems (NMS) using Prometheus and Grafana.</li>
          </ul>
        </li>
      </ul>

      <!-- Techavenue / SNSKIES Section (June 2021 - Feb 2022) -->
      <ul class="work-list">
        <li>
          <div class="hr-divider">
            <hr />
            <strong>June 2021 - Feb 2022</strong>
            <hr />
          </div>
        </li>
        <li>
          <a href="https://www.techavenue.biz/" target="_blank" rel="noopener noreferrer">Techavenue</a>
        </li>
        <li><strong>Position: Full-Stack Engineer</strong></li>
        <li>
          <p style="margin: 0">
            As a Full-Stack Engineer at Techavenue / SNSKIES, I contributed to
            various tasks, including:
          </p>
          <ul>
            <li>Development using Angular Framework</li>
            <li>Building and maintaining APIs with Express.js and Node.js</li>
            <li>Working with MongoDB and Redis for database management</li>
            <li>Configuring and managing Nginx, Jenkins for deployment</li>
            <li>Implementing CI/CD pipelines</li>
            <li>Ensuring database security</li>
          </ul>
          <p style="margin: 20px 0 0 0">
            Tools/Tech I worked on during my stay at TechAvenue / SNSKIES:
          </p>
          <ul>
            <li>Angular Framework</li>
            <li>Express.js, Node.js</li>
            <li>MongoDB, Redis</li>
            <li>Nginx, Jenkins</li>
            <li>Ionic Framework</li>
          </ul>
        </li>
      </ul>

      <!-- Asasa.com Section (Aug 2018 - May 2021) -->
      <ul class="work-list">
        <li>
          <div class="hr-divider">
            <hr />
            <strong>Aug 2018 - May 2021</strong>
            <hr />
          </div>
        </li>
        <li>
          <a href="https://asasa.com/" target="_blank" rel="noopener noreferrer">Asasa.com</a>
        </li>
        <li>
          <strong>Position: Technical Lead (July 2019 - May 2021), <br /> Full-Stack Developer
            (Aug 2018 - June 2019)</strong>
        </li>
        <li>
          <p style="margin: 0">
            As a Technical Lead at Asasa.com, I played a crucial role in enhancing
            the application's architecture. My key contributions include:
          </p>
          <ul>
            <li>
              Refactored the application, making it more modular through the
              creation of additional modules/components as necessary
            </li>
            <li>
              Provided training to the team to adhere to best practices for
              development
            </li>
            <li>
              Established an internal Jenkins CI system and implemented jobs for
              automatic deployment of Angular and Node applications for each git
              push, spanning multiple branches for staging and production
              environments
            </li>
          </ul>
          <p style="margin: 20px 0 0 0">
            As a Full-Stack Developer (Aug 2018 - June 2019), my responsibilities
            included building hybrid mobile apps using the Ionic Framework and
            developing the front-end in Angular and the backend in Node.js. I
            gained hands-on experience in the following areas:
          </p>
          <ul>
            <li>Ionic Framework</li>
            <li>Angular 4/5/7/8, Angular Universal (Front-end)</li>
            <li>Express.js, Node.js, Serverless Framework</li>
            <li>MongoDB</li>
            <li>Amazon Web Services (AWS Lambda, S3 Storage, EC2)</li>
          </ul>
        </li>
      </ul>

      <!-- Asasa.com Section (July 2019 - May 2021) -->
      <!-- <ul class="work-list">
        <li>
          <a href="https://asasa.com/" target="_blank" rel="noopener noreferrer">Asasa.com (July 2019 - May 2021)</a>
        </li>
        <li><strong>Position: Technical Lead</strong></li>
        <li>
          <p style="margin: 0">
            During this period, I continued my role as Technical Lead at
            Asasa.com, focusing on leadership and technical advancements:
          </p>
          <ul>
            <li>
              Continued refactoring the application for increased modularity
            </li>
            <li>
              Oversaw the team's adherence to best practices for development
            </li>
            <li>
              Managed and improved the internal Jenkins CI system, enabling
              automatic deployment for Angular and Node applications with each git
              push on various branches
            </li>
          </ul>
        </li>
      </ul> -->

      <!-- Hybrid Logics Section (Jan 2018 - July 2018) -->
      <ul class="work-list">
        <li>
          <div class="hr-divider">
            <hr />
            <strong>Jan 2018 - July 2018</strong>
            <hr />
          </div>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">Hybrid Logics</a>
        </li>
        <li><strong>Position: Junior Web Developer</strong></li>
        <li>
          <p style="margin: 0">
            As a Junior Web Developer at Hybrid Logics, I undertook the following
            responsibilities and tasks:
          </p>
          <ul>
            <li>
              Executed tasks with the best approach and adhered to a reusable
              coding style
            </li>
            <li>
              Integrated maps and live tracking functionalities into the projects
            </li>
            <li>
              Worked extensively on the Ionic Framework and Angular Framework
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Award & Achievements -->
  <div class="award section second" id="education">
    <div class="container">
      <h1>Education</h1>
      <ul class="award-list list-flat">
        <li>2013-2017</li>
        <li>Bachelors in Computer Science</li>
        <li>International Islamic University, Islamabad (IIUI)</li>
      </ul>
      <!-- <ul class="award-list list-flat">
      <li>December 2014</li>
      <li>Audited X number of clients in only Y amount of time</li>
      <li>Held a perfect attendance record</li>
      <li>Were promoted after only X months in the role</li>
    </ul>
    <ul class="award-list list-flat">
      <li>March 2014</li>
      <li>Placed employees at X companies</li>
      <li>United multiple teams post-merger</li>
    </ul> -->
    </div>
  </div>

  <!-- Technical Skills -->
  <div class="skills section second" id="skills">
    <div class="container">
      <h1>Technical<br />Skills</h1>
      <ul class="skill-list list-flat">
        <li>Web Technology</li>

        <li>HTML / CSS / SASS / Javascript</li>
        <li>Angular2+ / Ionic / Vue.js / React.js</li>
        <!-- New skill -->
      </ul>

      <ul class="skill-list list-flat">
        <li>Database</li>

        <li>MySQL / MongoDB</li>
        <li>Redis / SQL / Clickhouse / Postgresql</li>
        <!-- New skills -->
      </ul>

      <ul class="skill-list list-flat">
        <li>Backend</li>

        <li>Node.js / Python</li>
        <!-- New skill -->
      </ul>

      <ul class="skill-list list-flat">
        <li>DevOps</li>
        <ul class="skill-list list-flat">
          <li>Cloud Platforms:</li>
          <li>Amazon Web Services (EC2, S3, Lambda)</li>
        </ul>

        <li>Google Cloud Platform (Cloud Build)</li>
        <br />
        <ul class="skill-list list-flat">
          <li>Web Server & Load Balancer:</li>
          <li>Nginx</li>
        </ul>
        <br />
        <ul class="skill-list list-flat">
          <li>Containerization:</li>
          <li>Docker</li>
        </ul>
        <br />
        <br />
        <ul class="skill-list list-flat">
          <li>CI/CD:</li>
          <li>Jenkins, Ansible, Git Actions</li>
        </ul>
        <br />
        <ul class="skill-list list-flat">
          <li>Monitoring (NMS):</li>
          <li>Prometheus, Grafana</li>
        </ul>
        <br />
        <ul class="skill-list list-flat">
          <li>ERP:</li>
          <li>Frappe ErpNext</li>
        </ul>
      </ul>
    </div>
  </div>

  <!-- Quote -->
  <div class="quote">
    <div class="container text-centered">
      <h1>
        Life begins outside the end of your comfort zone <br />
        ~ Neale Donald Walsch
      </h1>
    </div>
  </div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

</div>


<footer>
  <div class="container">
    <div class="units-row">
      <div class="unit-50">
        <p>Handcrafted by Usama Javaid</p>
      </div>
      <div class="unit-50">
        <ul class="social list-flat right">
          <li>
            <a href="mailto:usamajavaid52@gmail.com"><i class="icofont-envelope"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/Usamajavaid7" class="twitter"><i class="bx bxl-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/usamaa.javaid" class="facebook"><i class="bx bxl-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/usama_javaid_/" class="instagram"><i class="bx bxl-instagram"></i></a>
          </li>
          <li>
            <a href="live:usamajavaid52" class="google-plus"><i class="bx bxl-skype"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/usama-javaid/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>